<!--
============================================
; Title:  about.component.html
; Author: Professor Krasso
; Modified by: Kevin Jones
; Date: 22 June 2021
; Description: About component HTML file
;===========================================
 -->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../assets/coates.jpeg" />
      </div>
      <div>
        <em>
          Photo by Gregory Halpern on
          <a class="source" href="https://ta-nehisicoates.com/" target="_blank"
            >Ta-Nehishi Coates</a
          >
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1>Ta-Nehisi Coates</h1>
    <p>
      Ta-Nehisi Coates is a distinguished writer in residence at NYU’s Arthur L.
      Carter Journalism Institute. He is the author of the bestselling books The
      Beautiful Struggle, We Were Eight Years in Power, and Between The World
      And Me, which won the National Book Award in 2015. His first novel, The
      Water Dancer, was released in September 2019. Ta-Nehisi is a recipient of
      a MacArthur Fellowship. He is also the current author of the Marvel comics
      The Black Panther and Captain America.
    </p>
    <em
      >Biography by:
      <a
        href="https://ta-nehisicoates.com/about/"
        target="_blank"
        class="source"
        >Ta-Nehisi Coates</a
      ></em
    >
  </div>
</div>
