/*
============================================
; Title:  book-list.component.css
; Author: Kevin Jones
; Date: 22 June 2021
; Description: About component CSS file
;===========================================
*/

.isbn-link {
  text-decoration: none;
  cursor: pointer;
  color: #99e2ff;
}

.isbn-link:hover {
  text-decoration: underline;
}

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  padding: 25px;
}

.grid-container__item {
  padding: 20px;
  font-size: 30px;
}

.grid-container__ahref {
  text-decoration: none;
  cursor: pointer;
}

.grid-container__ahref:hover {
  text-decoration: underline;
}

.spinner {
  margin-top: 2%;
  margin-left: 45%;
}

@media (max-width: 882px) {
  .grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    padding: 25px;
  }
}
