<!--
============================================
; Title:  contact.component.html
; Author: Kevin Jones
; Date: 22 June 2021
; Description: Contact component HTML file
;===========================================
 -->

<div fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex="50%">
    <!-- <mat-card-header></mat-card-header> -->
    <mat-card-title>
      <mat-icon class="contact-icons">location_pin</mat-icon>
    </mat-card-title>
    <mat-card-content>
      <p>102 N Main St.</p>
      <p>Baltimore, MD</p>
    </mat-card-content>
  </div>
  <div fxFlex="50%">
    <!-- <mat-card-header></mat-card-header> -->
    <mat-card-title>
      <mat-icon class="contact-icons">phone_enabled</mat-icon>
    </mat-card-title>
    <mat-card-content>
      <p>Direct: 555-555-5555</p>
      <p>Toll-free: 1-800-555-5555</p>
    </mat-card-content>
  </div>
</div>
