/*
============================================
; Title:  app.component.css
; Author: Kevin Jones
; Date: 22 June 2021
; Description: App component CSS file
;===========================================
*/

.logo {
  margin-top: 5px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 608px) {
  button {
    line-height: normal;
  }
}
